name: Node.js CI

on: [push]

#bump
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn --immutable
      - name: Build Packages
        run: BASE_PATH=/${{ github.event.repository.name }} ./build-script.sh
      - uses: actions/upload-artifact@v4
        with:
          path: packages/_react-icons_*/*.tgz
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/preview/out
        if: github.ref == 'refs/heads/master'
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "packages/_react-icons_*/*.tgz"
          bodyFile: "packages/react-icons/VERSIONS"
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ contains(github.ref, 'snapshot') }}
        if: contains(github.ref, 'tags/')
